
<h3>LineChartComponent</h3>

<hr>

<p class="mt-3 text-muted">Click to toggle chart options</p>

<div class="d-flex flex-row align-items-center">
  <button type="button" class="btn btn-secondary btn-sm mx-1" (click)="toggleChartType()">
    {{ lineChartType === 'line' ? 'Bar' : 'Line' }} Chart
  </button>
  <ng-container *ngIf="lineChartType === 'line'">
    <span class=" mx-3 text-muted"></span>
    <button type="button" class="btn btn-secondary btn-sm mx-1" (click)="toggleFill()">Fill</button>
    <span class="text-muted small">|</span>
    <button type="button" class="btn btn-secondary btn-sm mx-1" (click)="toggleColors()">Colors</button>
    <span class="text-muted small">|</span>
    <button type="button" class="btn btn-secondary btn-sm mx-1" (click)="toggleSteppedLine()">Stepped Line</button>
    <span class="text-muted small">|</span>
    <button type="button" class="btn btn-secondary btn-sm mx-1" (click)="togglePointStyle()">Point Style</button>
    <div class="input-group w-auto align-items-center">
      <div class="input-group-prepend">
        <button type="button" class="btn btn-secondary btn-sm" (click)="updateRadius(-1)">-</button>
      </div>
      <div class="mx-1">
        Radius
      </div>
      <div class="input-group-append">
        <button type="button" class="btn btn-secondary btn-sm" (click)="updateRadius(1)">+</button>
      </div>
    </div>
  </ng-container>
</div>

<hr>

<div class="d-block">
  <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
    [chartType]="lineChartType" [plugins]="lineChartPlugins" (chartClick)="chartClicked($event)" (chartHover)="chartHovered($event)">
  </canvas>
</div>

<hr>

<div class="text-muted small">
  <p class="m-0">- Click on the points in the chart for more details</p>
  <p class="m-0">- Click on the legend (2018, 2019, 2020) to show/hide data</p>
</div>
